/*** Reset style here ***/
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; font-weight:normal;}
body{ margin:0; padding:0; font-family: Arial, sans-serif; color:#919191; font-size:14px; -webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; color: #333; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}
a,img{border:none; text-decoration:none; outline:none; transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}
a:focus, a:hover { outline:none; color:#0d5fb5; text-decoration:none;}
b { font-weight:bold;}
.clear { clear:both;}
.clearfix:after { visibility: hidden;display: block;content: "";clear: both;height: 0;}
img {max-width:100%;}
.a-align { text-align: left; }
.a-center { text-align: center; }
.a-right { text-align: right; }
.f-left { float: left; }
.f-right { float: right; }
ul { margin: 0; padding: 0; }
ul li { list-style: none; }
.form-group { margin-bottom:20px; position:relative;}
.form-control { font-size:14px; font-weight:400; color:#000; padding:0px 12px; border:0; height:32px; line-height:30px; box-sizing:border-box; box-shadow:none; background:#ebebeb; border:1px solid #ebebeb;}
.form-control:focus { border-color:#213f7a; box-shadow:none;}
body { background:#ffffff; }
.container { margin:0 auto; max-width: 1170px; width: 100%;  }
section { clear: both; display: block; padding:50px 0px; width: 100%; position: relative; box-sizing: border-box }
section h2 { margin: 30px 0px; padding:0px; font-size: 18px; line-height:normal; color: #1eb6e0;}
h4 { font-size:40px;}

/*** Header Style here ***/
header { display:block; padding:15px 0px; background:#2d2f30; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
header .container { position:relative;}
.logo { display:block; float:left; max-width:271px;}
.logo a, .logo img { display:block;}

/*** Footer Style here ***/
footer { display:block; clear:both; width:100%; margin:0px; padding:50px 0px; float:left; border-top:1px solid #ebecec; text-align:center;}

